.gitignore.swp
.nvim/
Code/
Qt/
Atom/
QtProject.conf
QtProject/
RescueTime.com/
Slack/
Trolltech.conf
autostart/
binstar/
compton.conf
configstore/
dconf/
dunst/
enchant/
evince/
evolution/
gedit/
gnome-control-center/
gnome-initial-setup-done
gnome-initial-setup-done.EJAVOZ
google-chrome/
gtk-3.0/
gtk-4.0/
ibus/
libreoffice/
menus/
mimeapps.list
nautilus/
neofetch/
opera/
pulse/
qpdfview/
styluslabs/
update-notifier/
user-dirs.dirs
user-dirs.locale

